<% layout('layout') -%>

<header>
	<h1 class=""><%= productName %></h1>
</header>

<p>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vitae justo enim. Proin a convallis est. Ut pretium dui eget risus pharetra gravida. Donec dapibus rutrum odio et mollis. Pellentesque neque nibh, lacinia et auctor vel, placerat ut eros. Cras sit amet odio cursus est condimentum congue. Morbi quis erat eu nulla blandit volutpat in quis velit.
</p>
<p>
	Curabitur a viverra purus. Duis molestie erat eu sapien accumsan at euismod neque fringilla. Nunc nec arcu nisl, eget convallis metus. Fusce placerat massa id ligula pharetra dignissim. Morbi viverra, risus porttitor tempus rutrum, quam mauris auctor magna, id vestibulum mi enim id quam. Aenean accumsan tortor eget est ornare laoreet. Praesent a viverra massa. Sed volutpat sapien at massa sodales aliquet. Fusce at velit sed felis congue laoreet.
</p>
<p>
	Nulla diam odio, elementum a consequat a, ullamcorper sit amet justo. In hac habitasse platea dictumst. Quisque quis tincidunt sem. Sed vitae consectetur elit. Proin commodo fermentum pellentesque. Vivamus nisi sapien, interdum a facilisis et, mattis vel nulla. Curabitur vel nunc a mauris mattis gravida. In quis lacus libero, et tristique purus.
</p>
<p>
	Ut eros magna, eleifend quis accumsan at, tristique ut dui. Pellentesque at turpis nunc. Suspendisse adipiscing orci in arcu ullamcorper iaculis posuere urna euismod. Morbi eu felis sit amet nulla tempus tristique vel nec ligula. In vel nisi nunc. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla facilisi. Maecenas laoreet lacus quis lacus commodo ut sollicitudin est consequat. Duis aliquam, augue at auctor dignissim, tortor leo aliquet arcu, sit amet ultricies ligula metus et tortor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus at lorem urna. Aenean sit amet turpis at ipsum egestas ornare vulputate sed diam. Morbi ut sapien non nulla dignissim placerat tristique quis massa.
</p>
<p>
	Donec ipsum nibh, bibendum non mollis sed, convallis sit amet dolor. Sed purus diam, scelerisque ut sagittis quis, fringilla vel magna. Nulla rhoncus mattis mi in molestie. Cras augue lorem, tincidunt in gravida ut, congue et nisi. In blandit magna vitae sem blandit eget tempor dui hendrerit. Praesent a nunc dui. Sed purus mi, elementum quis varius vel, fermentum eu nulla. Mauris ornare, augue eget tincidunt porta, eros nibh semper massa, sed scelerisque magna quam vitae turpis. Nunc volutpat felis eget augue mollis non faucibus erat accumsan.
</p>

<input type="hidden" value="<%= pageComponent %>" id="page-component">