<% layout('layout') -%>

<article>
	<header>
		<h2 class="">Search</h2>
	</header>

	<input class="search-text" placeholder="Name, description, etc"><button class="search-action">Seach</button>

	<input type="hidden" value="<%= pageComponent %>" id="page-component">
</article>
