<% layout('layout') -%>

<section>
	<header>
		<h1 class="">Search</h1>
	</header>

	<input class="search-text" placeholder="Name, description, etc"><button class="search-action">Seach</button>
</section>

<input type="hidden" value="<%= pageComponent %>" id="page-component">